body {
	text-align: center;
	font-family: 'Indie Flower', cursive;
	font-size: 1.5em;
}

header {
	background-image: url('../images/footer_lodyas.png');
	color: white;
}

a {
	color: #7bd4c4;
}

.fab:hover {
	color: #7bd4c4;
}

.fab {
	transition: .25s ease;
}

.tool:hover {
	background-color: #7bd4c4;
	color: white;
	border: inherit solid lightgrey;
	transform: scale(1.1);
}

header a:visited {
	color: white;
}

header a:link {
	color: white;
}

header h3 {
	margin-top: 0px;
	padding-top: 50px;
}

.avatar {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	background: url('../images/bryan.png') center no-repeat;
	background-size: cover;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	margin: 0 auto;
	transition: .5s ease;
}

.avatar:hover {
	transform: rotate(-15deg) scale(1.05);;
}

.tagline {
	padding-top: 25px;
	max-width: 85%;
	margin: 0 auto;
}

@media screen and (min-width: 1044px) {
	.tagline, .grey-box {
		max-width: 65%;
	}
}

@media screen and (min-width: 1375px) {
	.tagline, .grey-box {
		max-width: 50%;
	}
}

.social {
	font-size: 2em;
}

.twitter, .mastodon, .github, .linkedin {
	display: inline-block;
	padding: .5em;
}

.content {
	max-width: 85%;
	margin: 0 auto;
}

.grey-box {
	background-color: #FBFBFB;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	margin: 65px auto;
	padding: 0.5em;
}

.tools-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-self: center;
}

.tool {
	border: 3px solid;
	margin: 1em;
	padding: .5em;
	min-width: 25%;
	transition: .5s ease;
	border-radius: 5px;
}

@media screen and (max-width: 440px) {
	.tool {
		min-width: 90%;
	}
}

.follow-me {
	margin: 2em;
}
