body {
	text-align: center;
	font-family: 'Indie Flower', cursive;
	font-size: 1.5em;
}

header {
	background-image: url('../images/footer_lodyas.png');
	color: white;
}

.fa:hover, .tool:hover {
	color: #7bd4c4;
}

header a:visited {
	color: white;
}

header a:link {
	color: white;
}

header h3 {
	margin-top: 0px;
	padding-top: 50px;
}

.avatar {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	background: url('../images/bryan_avatar.jpg') center no-repeat;
	background-size: 120%;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	margin: 0 auto;
}

.tagline {
	padding-top: 15px;
	max-width: 85%;
	margin: 0 auto;
}

@media screen and (min-width: 1044px) {
	.tagline, .grey-box {
		max-width: 65%;
	}
} 

@media screen and (min-width: 1375px) {
	.tagline, .grey-box {
		max-width: 50%;
	}
}

.social {
	font-size: 2em;
}

.twitter, .github, .instagram {
	display: inline-block;
	padding: .5em;
}

.content {
	max-width: 85%;
	margin: 0 auto;
}

.grey-box {
	background-color: #e5e5e5;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	margin: 65px auto;
	padding: 0.5em;
}

.tools-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-self: center;
}

.tool {
	border: 2px solid;
	margin: 1em;
	padding: .5em;
	min-width: 25%;
}

.heading, .tagline, .social {
	visiblitiy: hidden;
}